apiVersion: v1
kind: Secret
metadata:
  name: sponge-secrets
  namespace: sponge-prod
type: Opaque
stringData:
  POSTGRES_PASSWORD: "REPLACE_WITH_ACTUAL_PASSWORD"
  STRIPE_SECRET_KEY: "sk_live_REPLACE"
  STRIPE_PUBLISHABLE_KEY: "pk_live_REPLACE"
  AUTH0_CLIENT_SECRET: "REPLACE_WITH_ACTUAL_SECRET"
  JWT_SECRET: "REPLACE_WITH_RANDOM_SECRET"
  AWS_ACCESS_KEY_ID: "REPLACE_WITH_AWS_KEY"
  AWS_SECRET_ACCESS_KEY: "REPLACE_WITH_AWS_SECRET"
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: sponge-aws-secrets
  namespace: sponge-prod
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "sponge-prod/postgres-password"
        objectType: "secretsmanager"
        objectAlias: "postgres-password"
      - objectName: "sponge-prod/stripe-secret"
        objectType: "secretsmanager"
        objectAlias: "stripe-secret"
      - objectName: "sponge-prod/auth0-secret"
        objectType: "secretsmanager"
        objectAlias: "auth0-secret"
  secretObjects:
  - secretName: sponge-db-secret
    type: Opaque
    data:
    - objectName: postgres-password
      key: password
  - secretName: sponge-stripe-secret
    type: Opaque
    data:
    - objectName: stripe-secret
      key: secret_key
  - secretName: sponge-auth0-secret
    type: Opaque
    data:
    - objectName: auth0-secret
      key: client_secret
